body{
    background-color: $color1;
}
.model1-div-cont-part1{
    padding-top: 60px;
    margin-bottom: 20px;
}

.model1-div-cont-modelo1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.model1-title{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


.model1-div-cont-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
}

.model1-modelo-head{
    display: block;
    width: 100%;
}

.model1-modelo-title{
    display: inline;
    font-size: 30px;
}

.model1-modelo-related{
    display: inline;
    margin-left: 10%;
    font-size: 20px;
}

.moidel1-modelo-description{
    font-size: 90%;
}

.model1-boton-practica-auto{
    width: 100px;
    margin: 15px 0 15px;
    padding-top: 5px;
    transition: box-shadow 0.3s, background-color 0.3s;
    user-select: none;
}

.model1-boton-practica-auto:hover{
    box-shadow: 1px 2px 2px ;
    cursor: pointer;
}

.model1-boton-practica-auto:active{
    box-shadow: none;
    background-color: $color5;
}

.model1-div-cont-separator{
    width: 80%;
    margin: auto;
}

.model1-separator{
    height: 0.5px;
    background-color: $color2;
}



//estilos de practica


.model1-div-cont-practice{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.model1-div-cont-play{
    display: flex;
    justify-content: center;
}

.model1-icono-play{
    text-align: center;
    height: 20px;
    width: 30px;
    user-select: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.model1-icono-play:hover{
    box-shadow: 1px 2px 2px ;
    cursor: pointer;
}

.model1-icono-play:active{
    box-shadow: none;
    background-color: $color5;
}

.model1-reproducir{
    margin-left: 3%;
}

.model1-div-cont-practica-conromaji{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 110px;
}

.model1-boton-practica-conromaji{
    width: 150px;
    padding-top: 5px;
    user-select: none;
    transition: box-shadow 0.3s, background-color 0.3s;
}



.model1-boton-practica-conromaji:hover{
    box-shadow: 1px 2px 2px ;
    cursor: pointer;
}



.model1-texto-practica{
    margin-top: 5px;
    height: 50px;
    width: 100px;
    text-align: center;
}

.model1-texto-practica-static{
    font-size: 30px;
    padding-top: 10%;
}

.model1-texto-practica-dinamic{
    margin-top: 10px;
    font-size: 30px;
    padding-top: 10%;
}


.hide{
    display: none;
}

//style show answer
.model1-div-cont-answer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.model1-div-cont-show{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
}

.model1-texto-show{
    border-style: solid;
    border-radius: 5px;
    height: 30px;
    width: 160px;
    text-align: center;
    padding-top: 5px;
    user-select: none;
    transition: box-shadow 0.3s, background-color 0.3s;
}

.model1-texto-show:hover{
    box-shadow: 1px 2px 2px ;
    cursor: pointer;
}

.model1-texto-show:active{
    box-shadow: none;
    background-color: $color5;
}

.model1-icono-show{
    width: 50px;
    height: 50px;
}

.model-icono-noshow{
    padding-top: 5px;
    margin: auto;
    font-size: 30px;
    text-align: center;
}

.model1-div-imagen-answear{
    width: 50px;
    height: 50px;
    
}

.model1-imagen-answear{
    width: 100%;
    height: 100%;
}

.model1-boton-next{
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    border-style: solid;
    border-radius: 5px;
    width: 60px;
    height: 35px;
    user-select: none;
    transition: box-shadow 0.3s, background-color 0.3s;
}

.model1-boton-next:hover{
    box-shadow: 1px 2px 2px ;
    cursor: pointer;
}

.model1-boton-next:active{
    box-shadow: none;
    background-color: $color5;
}

.model1-boton-next-text{
    font-size: 20px;
    color: $color2;
    padding-top: 5px;
    font-weight: bold;
}

.model1-div-cont-progresbar{
    height: 10px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.model1-div-cont-progresbar span{
    margin: 0 0px;
    display: block;
    height: 30%;
    
}

.start{
    width: 0%;
    transition: width 2s linear;
}

.end{
    width: 100%;
    transition: width 4s linear;
}

