.div-cont-nav{
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 50;
}

.nav{
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.lado1{
    display: flex;
    flex-wrap: nowrap;
    height: 60px;
    width: 50%;
    justify-content: flex-start;
}

.div-cont-logo{
    height: 30px;
    width: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.logo{
    width: 100%;
    height: 100%;
}
.navbar-div-cont-lado2{
    width: 40%;
}

.navbar-div-cont-pages{
    padding-right: 25px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.link{
    text-decoration: none;
    width: 100px;
    margin: 5px;
    text-align: center;
    color: $color1;
    font-size: 25px;
    height: 40px;
    padding-top: 10px;
    transition: box-shadow 0.3s, background-color 0.3s;
}

//-----------lado 2 -------------------------------//



.div-cont-displayopt{
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px ;
    
}

.displayopt-boton{
    width: 100%;
    height: 100%;
}