.div-cont-nav{
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 50;
}

.nav{
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.lado1{
    display: flex;
    flex-wrap: nowrap;
    height: 60px;
    width: 50%;
    justify-content: flex-start;
}

.div-cont-logo{
    height: 30px;
    width: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.logo{
    width: 100%;
    height: 100%;
}
.navbar-div-cont-lado2{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.navbar-div-cont-pages{
    padding-right: 25px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    //----
    display: none;
}

.link{
    text-decoration: none;
    width: 100px;
    margin: 5px;
    text-align: center;
    color: $color1;
    font-size: 25px;
    height: 40px;
    padding-top: 10px;
    transition: box-shadow 0.3s, background-color 0.3s;
}

//-----------lado 2 -------------------------------//



.div-cont-displayopt{
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    
    
}

.nav-icono-menu-true{
    width: 30px;
    height: 30px;
    transition: transform 0.5s;
}

.nav-icono-menu-false{
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
    transition: transform 0.5s;
}

.nav-div-drop{
    margin-top: 20px;
    width: 120px;
    height: 200px;
    position: absolute;
    z-index: -4;
    background-color: $color2;
    transform: translateX(15px);
    transition: transform 0.5s;
}

.true{
    transform: translatex(200px);
    //transform: translateX(15px);
}


//=======================  responsive ================//@at-root

@media screen and (min-width: 500px) {
    .navbar-div-cont-pages{
        display: flex;
    }
    .div-cont-displayopt{
        display: none;
    }   
}