
.div-cont-nav{
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
}

.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    width: 100%;
}

.lado1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 60px;
    width: 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.div-cont-logo{
    height: 30px;
    width: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.logo{
    width: 100%;
    height: 100%;
}
.navbar-div-cont-lado2{
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.navbar-div-cont-pages{
    padding-right: 25px;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
}

.link{
    text-decoration: none;
    min-width: 140px;
    margin: 5px;
    text-align: center;
    color: $color1;
    font-size: 25px;
    height: 40px;
    padding-top: 10px;
    -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
    transition: background-color 0.3s, -webkit-box-shadow 0.3s;
    -o-transition: box-shadow 0.3s, background-color 0.3s;
    transition: box-shadow 0.3s, background-color 0.3s;
    transition: box-shadow 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
}

//-----------lado 2 -------------------------------//


.navbar-div-cont-lado2{
    display: flex;
    align-items: center;
}
.div-cont-displayopt{
    width: 40px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    
    
}

.nav-icono-menu-true{
    width: 30px;
    height: 30px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.nav-icono-menu-false{
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.nav-div-drop{
    margin-top: 20px;
    width: 150px;
    height: 200px;
    position: absolute;
    z-index: -4;
    background-color: $color2;
    -webkit-transform: translateX(15px);
        -ms-transform: translateX(15px);
            transform: translateX(15px);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.true{
    -webkit-transform: translatex(200px);
        -ms-transform: translatex(200px);
            transform: translatex(200px);
    //transform: translateX(15px);
}

.nav-icon{
    width: 20px;
    height: 20px;
    fill: white;
}

.nav-link-logo{
    text-decoration: none;
}

.router-link-active{
    border-bottom-style: none;
}

.d-link{
    user-select: none;
}
.d-link:active{
    background-color: $color3;
}

//-------- Settings-----------
.nav_settings_boton{
    box-sizing: content-box;
    height: 30px;
    width: 100px;
    text-decoration: none;
    margin: 5px;
    color: $color1;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.nav_settings_boton:active{
    border-radius: 5px;
    background-color: $color5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.nav-set-icon{
    position: relative;
}

.nav-text-set{
    display: flex;
    align-items:center ;
    font-size: 20px;
    height: 30px;
    width: 70px;
    margin-left: 5px;
}

/* .nav_div_cont_settingsfalse{
    width: 100px;
    height: 150px;
    position: absolute;
    background-color:$color2;
    top: -160px;
    right: 60px;
    z-index: -10;
    transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -ms-transition: top 0.5s;
    -o-transition: top 0.5s;
} */

.nav_div_cont_settings{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 120px;
    position: absolute;
    background-color:$color2;
    top: 60px;
    right: 60px;
    z-index: -10;
    transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -ms-transition: top 0.5s;
    -o-transition: top 0.5s;
}

.nav-hide-false{
    top: -160px;
    transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -ms-transition: top 0.5s;
    -o-transition: top 0.5s;
}

.nav_boton_set{
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.nav_set_icon{
    width: 20px;
    height: 20px;
    fill: $color1;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}

.nav-icon-false{
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}

.nav-icon-true{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.nav_set_text{
    font-size: 15px;
    margin-left: 5px;
    color: $color1;
}

.nav_boton_set{
    width: 80%;
    border: 2px solid $color1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
}

.nav_boton_set:active{
    background-color: $color3;
}

.navopt_pressed_true{
    background-color: $color4;
}

//=======================  responsive ================//@at-root

@media screen and (min-width: 530px) {
    .navbar-div-cont-pages{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .div-cont-displayopt{
        display: none;
    }   

    .nav_settings_boton{
        display: none;
    }
}