.model2-div-cont-part1 {
    background-color: $color1;
}

.model2-div-cont-modelo1 {
    background: none;
}

.model2-text {
    color: $color2;
}

.model2-text-description {
    color: $color3;
}

//styles de parte de practica
.model2-icono-play {
    border-style: solid;
    border-radius: 5px;
    text-decoration: none;
    border-color: $color2;
    border-width: 2px;
    background-color: $color1
}

.model2-reproducir {
    color: $color3;
}

.model2-boton-practica-conromaji {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: $color3;
    text-align: center;
}

.model2-boton-practica-auto {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: $color3;
    text-align: center;
}

.model2-texto-practica {
    font-size: 100%;
    color: $color3;
}

.pressed {
    background-color: $color5;
    color: $color1;
}

.opttrue {
    background-color: $color5;
    color: $color1;
}

//style show answer
.model2-texto-show {
    border-color: $color3;
    color: $color2;
}

.model2-boton-next {
    border-color: $color3;
}

.model2-texto-practica-dinamic {
    color: $color2;
}

.model2-div-cont-progresbar {
    background-color: $color2;
}

.model2-div-cont-progresbar span {
    background-color: $color5;
}

.model2-boton-practica-mute {
    border-style: solid;
    border-color: $color3;
    border-radius: 5px;
    border-width: 2px;
}

//-------------------- canvas
.model2-div-cont-canvas {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 10px;
    position: relative;
    flex-wrap: wrap;
}

#model2-mycanvas{
    border: 2px solid $color2;
    border-radius: 5px;   
}

.model2-boton-clear-canvas{
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    padding-top: 5px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
    transition: background-color 0.3s, -webkit-box-shadow 0.3s;
    -o-transition: box-shadow 0.3s, background-color 0.3s;
    transition: box-shadow 0.3s, background-color 0.3s;
    transition: box-shadow 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
}

.model2-boton-clear-canvas:hover{
    -webkit-box-shadow: 1px 2px 2px;
            box-shadow: 1px 2px 2px;
    cursor: pointer;
}

.model2-boton-clear-canvas:active{
    text-decoration: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: $color5;
}