.home-div-cont-home{
    display: flex;
    flex-direction: column;
}
.home-parte1{
    padding-top: 60px;
}

.home-div-cont-title{
    display: block;
    padding: 0;
    padding-top: 20px;
}

.home-div-cont-modelos{
    padding-bottom: 20px;
}

.home-title{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modelos{
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    transition: transform 0.3s, background-color 0.3s;
}

.modelos:hover{
    transform: scale(1.01);
}

.home-modelo-head{
    display: block;
}

.home-modelo-title{
    display: inline;
    font-size: 30px;
}

.home-modelo-related{
    display: inline;
    margin-left: 10%;
    font-size: 20px;
}

.home-modelo-description{
    font-size: 90%;
}

.home-div-cont-advertaisment{
    height: 150px;
}

.link-pagina{
    text-decoration: none;
}