.home-div-cont-home{
    display: flex;
    flex-direction: column;
}
.home-parte1{
    margin-top: 60px;
    z-index: 10;
}

.home-div-cont-title{
    display: block;
    padding: 0;
    padding-top: 20px;
}

.model1-div-cont-adver{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-div-cont-modelos{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modelos{
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    user-select: none;
    transition: transform 0.3s, background-color 0.3s;
}

.modelos:hover{
    transform: scale(1.01);
}

.home-modelo-head{
    display: block;
}

.home-modelo-title{
    display: inline;
    font-size: 30px;
}

.home-modelo-related{
    display: inline;
    margin-left: 10%;
    font-size: 20px;
}

.home-modelo-description{
    font-size: 100%;
    padding: 10px;
}

.home-div-cont-advertaisment{
    height: 150px;
}

.link-pagina{
    text-decoration: none;
}

//==============================  RESPONSIVE DESIGN ==========================//

@media screen and (min-width: 380px) {
    .modelos{
        max-width: 600px;
    }
}

//-----------------------------------------------------
@media screen and (min-width: 1024px) {
    .model1-div-cont-adver{
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
}