.home-parte1{
    background-color: $color1;
}

.modelos{
    background-color: $color3;
}

.modelos:active{
    background-color: $color5;   
}

.model-text{
    color: white;
}

.home-div-cont-advertaisment{
    background-color: gray;
}