.cfooter-div-cont-footer{
    margin: auto;
    padding: 5%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}



.cfooter-description{
    padding-top: 10px;
}

.text{
    text-align: center;
}