*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dubai'
}

$color1:#EBE5DA;
$color2:#022E40;
$color3:#227373;
$color4:#D93B3B;
$color5:#F27A5E;


//import modules
//normalize
@import '../../node_modules/normalize.css/normalize.css';

//home
@import 'home/skin';
@import 'home/skeleton';

//navbar
@import 'navbar/skin';
@import 'navbar/skeleton';

//Cfooter
@import 'Cfooter/skin';
@import 'Cfooter/skeleton';

//Model1
@import 'Model1/skin';
@import 'Model1/skeleton';

//Dropdown
@import 'Dropdown/skin';
@import 'Dropdown/skeleton';

//Dropdown
@import 'About/skin';
@import 'About/skeleton';