.about-div-cont-padre{
    margin-top: 60px;
}

.about-div-cont-info{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 20px 0;
}
